packages:
  yum:
    libtiff-devel: ''
    libjpeg-devel: ''
    libzip-devel: ''
    freetype-devel: ''
    lcms2-devel: ''
    tcl-devel: ''
    python-devel: ''

files:
  "/home/ec2-user/.boto":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      [DynamoDB]
      region = us-west-2
      validate_checksums = True

