packages:
  yum:
    libtiff-devel: ''
    libjpeg-devel: ''
    libzip-devel: ''
    freetype-devel: ''
    lcms2-devel: ''
    tcl-devel: ''
    python-devel: ''

files:
  "/etc/boto.cfg":
    mode: "000777"
    owner: root
    group: root
    content: |
      [DynamoDB]
      region = us-west-2
      validate_checksums = True

